$main-font: "Noto Sans JP", sans-serif;

body {
    font-family: $main-font;
}

.break-on-mobile {
  display:none;
}
.main-area {
    background-image: linear-gradient(
        90deg,
        #bdbdbd 3.57%,
        #ffffff 3.57%,
        #ffffff 50%,
        #bdbdbd 50%,
        #bdbdbd 53.57%,
        #ffffff 53.57%,
        #ffffff 100%
    );
    background-size: 28px 28px;
    h1 {
        font-size: 2.5em;
    }
    h2.title {
        margin-top: 3vh;
        font-size: 3em;
        font-weight: bold;
        color: #fff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        text-shadow: 1px 3px 6px rgba($color: #000000, $alpha: 0.3);
    }

}

.section-03 {
  h1 {
    rt {
      font-size: 10px;
    }
  }
}

.section-04 {
  h2 {
    span {
      background:red;
    }
  }
}


@media screen and (max-width:768px) {
  .break-on-mobile {
    display: block;
  }
  .main-area {
    h2.title {
      font-size: 2em;
      line-height: 1.5em;
    }
  }
}

@media screen and (max-width:400px) {

  .main-area {
    h2.title {
      font-size: 1.75em;
    }
  }
}

@media screen and (max-width:350px) {

  .main-area {
    h2.title {
      font-size: 1.5em;
    }
  }
}
